{% extends "layouts/AdminLayout/admin_design.html" %}
{% load static %}
{% block content %} 
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="{% url 'Dashboard' %}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current"> Area Tables</a> </div>
    <h1>Area Table</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>Area table</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>Area Name</th>
                  <th>Pincode</th>
                  <th>City Name</th>
                  <th>State Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
              {% for areadata in areadata%}
                <tr class="gradeX">
                  <td>{{areadata.name}}</td>
                  <td>{{areadata.pincode}}</td>
                  <td>{{areadata.cityname}}</td>
                  <td>{{areadata.statename}}</td>
                  <td class="center" style="text-align: center;"><a href="{% url 'area_edit' areadata.id %}" class="btn btn-primary btn-mini">Edit</a>
                  <a rel="area_delete" onclick="deletedata({{areadata.id}},this.rel)" class="btn btn-danger btn-mini">Delete</a></td>
				         </tr>
               {% endfor %} 
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock%} 