{% extends "layouts/AdminLayout/admin_design.html" %}
{% load static %}
{% block content %} 
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="{% url 'Dashboard' %}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current"> Company Tables</a> </div>
    <h1>Company Table</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>Company table</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>Company Name</th>
                  <th>Address</th>
                  <th>Email</th>
                  <th>Contact No.</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
              {% for companydata in companydata%}
                <tr class="gradeX">
                  <td>{{companydata.company_name}}</td>
                  <td>{{companydata.address}}</td>
                  <td>{{companydata.email}}</td>
                  <td>{{companydata.contact_no}}</td>
                  <td class="center" style="text-align: center;"><a href="{% url 'company_edit' companydata.id %}" class="btn btn-primary btn-mini">Edit</a>
                  <a rel="company_delete" onclick="deletedata({{companydata.id}},this.rel)" class="btn btn-danger btn-mini">Delete</a></td>
				         </tr>
               {% endfor %} 
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock%} 