<form class="main-form">
  <div class="container">
    <div class="row">
      <div class="col-10">
        <div class="heading-part">
          <h3 class="sub-heading">Billing Address</h3>
        </div>
        <hr>
      </div>
      <div class="col-md-6">
        <div class="input-box">
          <input type="text" required placeholder="Full Name" disabled name="customer_name" value="{{dev_data.customer_name}}">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-box">
          <input type="email" required placeholder="Email Address" disabled name="email" value="{{dev_data.email}}">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-box">
          <input type="text" required placeholder="Contact Number" disabled name="contact_no" maxlength="10" onkeypress="return event.charCode>=48 && event.charCode<=57;" value="{{dev_data.contact_no }}">
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="input-box select-dropdown">
          <fieldset>
            <select name="area" class="browser-default custom-select city" disabled onchange="selectcity();selectstate();">
              {%for data in area_data%}
                {%if dev_data.area_id == data.id %}
                  <option selected="" value="{{dev_data.area_id}}">{{dev_data.area.name}}-{{dev_data.area.pincode}}</option>
                {%else%}
                  <option value="{{data.id}}">{{data.name}}-{{data.pincode}}</option>
                {%endif%}
              {%endfor %}
            </select>
          </fieldset>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-box">
          <input type="text" disabled="" placeholder="Select City" id="getcity" value="{{dev_data.area.city.name}}">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-box">
          <input type="text" disabled="" placeholder="Select State" id="getstate" value="{{dev_data.area.city.state.name}}">
        </div>
      </div>
      <div class="col-md-12">
        <div class="input-box">
          <input type="text" required placeholder="Shipping Address" disabled name="address" value="{{dev_data.address}}">
          <span>Please provide the number and street.</span> 
        </div>
      </div>
      <div class="col-md-12">
        <div class="input-box">
          <input type="text" required placeholder="Shipping Landmark" disabled name="landmark" value="{{dev_data.landmark}}">
          <span>Please include landmark (e.g : Opposite Bank) as the carrier service may find it easier to locate your address.</span> 
        </div>
      </div>
    </div>
  </div>
</form>