{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>A to Z Electronic</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'AdminPanel/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'AdminPanel/css/bootstrap-responsive.min.css' %}" />
<link rel="stylesheet" href="{% static 'AdminPanel/css/fullcalendar.css' %}" />
<link rel="stylesheet" href="{% static 'AdminPanel/css/matrix-style.css' %}" />
<link rel="stylesheet" href="{% static 'AdminPanel/css/matrix-media.css' %}" />
<link href="{% static 'AdminPanel/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/backend_css/bootstrap-wysihtml5.css' %}" />
<link rel="stylesheet" href="{% static 'AdminPanel/css/jquery.gritter.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'AdminPanel/css/datepicker.css' %}" />
<link rel="stylesheet" href="{% static 'AdminPanel/css/uniform.css' %}" />
<link rel="stylesheet" href="{% static 'AdminPanel/css/select2.css' %}" />
<link rel="stylesheet" href="{% static 'AdminPanel/css/sweetalert.css' %}" />


</head>
<body>

{% include "layouts/AdminLayout/admin_header.html" %}

{% include "layouts/AdminLayout/admin_slider.html" %}

{% block content %}

{% endblock %}



<!--Footer-part-->


<!--end-Footer-part-->

<script src="{% static 'AdminPanel/js/excanvas.min.js' %}"></script> 
<script src="{% static 'AdminPanel/js/jquery.min.js' %}"></script> 
<script src="{% static 'AdminPanel/js/jquery.ui.custom.js' %}"></script> 
<script src="{% static 'AdminPanel/js/bootstrap.min.js' %}"></script> 
<script src="{% static 'AdminPanel/js/jquery.flot.min.js' %}"></script> 
<script src="{% static 'AdminPanel/js/jquery.flot.resize.min.js' %}"></script> 
<script src="{% static 'AdminPanel/js/jquery.peity.min.js' %}"></script> 
<script src="{% static 'AdminPanel/js/fullcalendar.min.js' %}"></script> 
<script src="{% static 'AdminPanel/js/matrix.js' %}"></script> 
<!--   -->
<script src="{% static 'AdminPanel/js/jquery.gritter.min.js' %}"></script> 
<!-- <script src="{% static 'AdminPanel/js/matrix.interface.js' %}"></script>  -->
<!-- <script src="{% static 'AdminPanel/js/matrix.chat.js' %}"></script>  -->
<script src="{% static 'AdminPanel/js/jquery.validate.js' %}"></script> 
<script src="{% static 'AdminPanel/js/matrix.form_validation.js' %}"></script> 
<script src="{% static 'AdminPanel/js/jquery.wizard.js' %}"></script> 
<script src="{% static 'AdminPanel/js/jquery.uniform.js' %}"></script> 
<script src="{% static 'AdminPanel/js/select2.min.js' %}"></script> 
<!-- <script src="{% static 'AdminPanel/js/matrix.popover.js' %}"></script>  -->
<script src="{% static 'AdminPanel/js/jquery.dataTables.min.js' %}"></script> 
<script src="{% static 'AdminPanel/js/matrix.tables.js' %}"></script>
<script src="{% static 'AdminPanel/js/custom.js' %}"></script> 
<script src="{% static 'AdminPanel/js/sweetalert.js' %}"></script>
<!-- <script src="{% static 'AdminPanel/js/matrix.dashboard.js' %}"></script> -->

</body>
</html>